# DSC 540 

### Week 9 - 10:  Exercises

**Author: Kimberly Cable<br>
Date: 8-13-2022**

## Activity 11: Retrieving Data Correctly From Databases

In [2]:
# import libraries
import sqlite3
import pandas as pd

### 1. Connect to petsDB, and check whether the connection has been successful

In [3]:
def check_conn(conn):
     try:
        cursor = conn.cursor()
        return True
     except Exception as ex:
        return False

conn = sqlite3.connect('petsdb')
print(check_conn(conn))

True

### 2. Find the different age groups in the persons database.

In [5]:
# Create SQL
select_age_groups = "SELECT count(*), age FROM persons GROUP BY age"

# Execute select all
select_sql = conn.execute(select_age_groups)

# Store select into rows
ages_grouped_rows = select_sql.fetchall()

# Print rows
for counts in ages_grouped_rows:
    print(f"There are {counts[0]} in age group {counts[1]}")

There are 2 in age group 5
There are 1 in age group 6
There are 1 in age group 7
There are 3 in age group 8
There are 1 in age group 9
There are 2 in age group 11
There are 3 in age group 12
There are 1 in age group 13
There are 4 in age group 14
There are 2 in age group 16
There are 2 in age group 17
There are 3 in age group 18
There are 1 in age group 19
There are 3 in age group 22
There are 2 in age group 23
There are 3 in age group 24
There are 2 in age group 25
There are 1 in age group 27
There are 1 in age group 30
There are 3 in age group 31
There are 1 in age group 32
There are 1 in age group 33
There are 2 in age group 34
There are 3 in age group 35
There are 3 in age group 36
There are 1 in age group 37
There are 2 in age group 39
There are 1 in age group 40
There are 1 in age group 42
There are 2 in age group 44
There are 2 in age group 48
There are 1 in age group 49
There are 1 in age group 50
There are 2 in age group 51
There are 2 in age group 52
There are 2 in age group 53
There are 2 in age group 54
There are 1 in age group 58
There are 1 in age group 59
There are 1 in age group 60
There are 1 in age group 61
There are 2 in age group 62
There are 1 in age group 63
There are 2 in age group 65
There are 2 in age group 66
There are 1 in age group 67
There are 3 in age group 68
There are 1 in age group 69
There are 1 in age group 70
There are 4 in age group 71
There are 1 in age group 72
There are 5 in age group 73
There are 3 in age group 74

### 3. Find the age group that has the maximum number of people

In [9]:
# Create SQL
select_max_age_groups = """
    SELECT COUNT(age), age
    FROM persons 
    GROUP BY age 
    ORDER BY COUNT(age) DESC LIMIT 1;
"""

# Execute select all
select_sql = conn.execute(select_max_age_groups)

# Store select into rows
max_age_row = select_sql.fetchone()

# Print rows
print(f"The largest age group is {max_age_row[0]} from age group {max_age_row[1]}")

The largest age group is 5 from age group 73

### 4. Find the people who do not have a last name

In [10]:
# Create SQL
select_no_last_name = """
    SELECT COUNT(*)
    FROM persons 
    WHERE last_name IS NULL;
"""

# Execute select all
select_sql = conn.execute(select_no_last_name)

# Store select into rows
no_last_row = select_sql.fetchone()

# Print rows
print(f"There are {no_last_row[0]} people without last names")

There are 60 people without last names

### 5. Find out how many people have more than one pet

In [11]:
# Create SQL
select_people_pets = """
    SELECT COUNT(*) FROM 
    (SELECT count(owner_id) FROM pets 
    GROUP BY owner_id 
    HAVING COUNT(owner_id) > 1)
"""

# Execute select all
select_sql = conn.execute(select_people_pets)

# Store select into rows
people_pets_row = select_sql.fetchone()

# Print rows
print(f"There are {people_pets_row[0]} people with more than one pet")

There are 43 people with more than one pet

### 6. Find out how many pets have received treatment

In [14]:
# Create SQL
select_pets_treatment = """
    SELECT COUNT(*) 
    FROM pets 
    WHERE treatment_done = 1;
"""

# Execute select all
select_sql = conn.execute(select_pets_treatment)

# Store select into rows
pets_treatment_row = select_sql.fetchone()

# Print rows
print(f"There are {pets_treatment_row[0]} pets that have had treatment")

There are 36 pets that have had treatment

### 7. Find out how many pets have received treatment and the type of pet if known

In [15]:
# Create SQL
select_pets_treatment_known = """
    SELECT COUNT(*) 
    FROM pets 
    WHERE treatment_done = 1
    AND pet_type IS NOT NULL;
"""

# Execute select all
select_sql = conn.execute(select_pets_treatment_known)

# Store select into rows
pets_treatment_known_row = select_sql.fetchone()

# Print rows
print(f"There are {pets_treatment_known_row[0]} pets that have had treatment and known type")

There are 16 pets that have had treatment and known type

### 8. Find out how many pets are from the city called east port

In [18]:
# Create SQL
select_pets_eastport = """
    SELECT COUNT(*) 
    FROM pets 
    JOIN persons ON pets.owner_id = persons.id 
    WHERE persons.city = 'east port';
"""

# Execute select all
select_sql = conn.execute(select_pets_eastport)

# Store select into rows
pets_eastport_row = select_sql.fetchone()

# Print rows
print(f"There are {pets_eastport_row[0]} pets that are from east port")

There are 49 pets that are from east port

### 9. Find out how many pets are from the city called east port and who received a treatment

In [19]:
# Create SQL
select_pets_eastport_treatment = """
    SELECT COUNT(*) 
    FROM pets 
    JOIN persons ON pets.owner_id = persons.id 
    WHERE persons.city = 'east port'
    AND pets.treatment_done = 1;
"""

# Execute select all
select_sql = conn.execute(select_pets_eastport_treatment)

# Store select into rows
pets_eastport_treatment_row = select_sql.fetchone()

# Print rows
print(f"There are {pets_eastport_treatment_row[0]} pets that are from east port and have had treatment")

There are 11 pets that are from east port and have had treatment